*{
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}

		:root{
			--red: 0;
			--green: 0;
			--blue: 0;
			--alpha: 1;
		}

		body{
			background-color: rgba( var(--red), var(--green), var(--blue), var(--alpha) );
		}

		h2{
			background-color: white;
		}